.topheader img {
    width: 40%;
    height: 5rem;
    object-fit: contain;
    margin: auto;
}

.topheader .p1{
    margin-top: -1.3rem;
}
.home .card{
    background-color: #F6F6EC;
}

.bottomheader a{
    font-size: 0.rem;
}